<h1>{{title}}</h1>
<h2>{{getSubtitle()}}</h2>

<button (click)="coordsFromHome = {lat: 52.1855, lon: 20.9935}">set poland</button>
<button (click)="coordsFromHome = {lat: 50, lon: 23}">set lublin</button>

<app-map [coords]="coordsFromHome" (mapClick)="coordsFromHome = $event" ></app-map>

<!-- <p>{{  day ? 'Dzień: ' + (day + 1) : 'Jeszcze nie'  }}</p>

<button (click)="day = day+1">next day</button>

<input
type="number"
[value]="day"
(keyup)="onInputChange($event)"
(change)="onInputChange($event)" />
<hr>
<button (click)="visible = !visible">toggle {{visible}}</button><br>

jeden
<p [class.hide]="!visible"  [innerText]="'Ghost ' + (day+1)"></p>

dwa
<p [class.hide]="!visible"  innerText="'Ghost ' + (day+1)"></p>

<app-icon *ngIf="visible" ></app-icon>

<hr>

<app-icon (iconChange)="onIconChange($event)" *ngFor="let item of items" [iconSrc]="item.src" ></app-icon> -->






