<p>EDIT!</p>

<div *ngIf="artist$ | async as artist">

  <form (ngSubmit)="onSubmit()" [formGroup]="artistForm">

    <div>
      <label for="title">Name</label>
      <input type="text" class="form-control" id="title" formControlName="name">
      <!-- <p *ngIf="artistForm.controls.name.errors?.required">to pole jest wymagane</p> -->
    </div>

    <div>
      <label for="title">Photo</label>
      <input type="text" class="form-control" id="title" formControlName="img">
    </div>

    <div formGroupName="location">
      <h3>Location</h3>
      <div>
        <label for="title">lat</label>
        <mat-form-field >
          <input matInput type="text" class="form-control" id="title" formControlName="lat">
        </mat-form-field>
      </div>
      <div>
        <label for="title">lng</label>
        <input type="text" class="form-control" id="title" formControlName="lng">
      </div>
    </div>

    <button type="submit">SAVE</button>

    <!-- <app-map [coords]="artistForm.location"></app-map> -->

  </form>

    {{ artist | json}}
</div>
