<form class="form-inline" (submit)="onSubmit($event)" #searchForm="ngForm" >

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" [ngModel]="query" (ngModelChange)="query = $event"  name="query" required >
  </mat-form-field>

  <button mat-button type="submit" class="btn btn-primary" [disabled]="!searchForm.form.valid">Szukaj</button>

</form>
<p>
  Szukam: {{query}}
</p>
<h4>Results</h4>

<ng-container *ngIf="results$ | async as results; else elseTemplate">
    <h2>{{results.length}}</h2>
    <ng-container *ngIf="!results.error">

      <p *ngIf="!results.length">BRAK WYNIKOW</p>
      <div *ngFor="let item of results">
        {{item.id}} - {{item.title}}
      </div>
    </ng-container>
    <ng-container *ngIf="results.error">
      {{results.message}}
    </ng-container>
    
</ng-container>
<ng-template #elseTemplate>
    <p>Czego szukasz...</p>
</ng-template>

<!-- <table>
  <ng-container *ngFor="let item of items">
    <div>
        <tr>
          <td><button (click)="opened = item">edit</button></td>
        </tr>
        <tr *ngIf="opened.id === item.id"></tr>
    </div>
  </ng-container>
</table> -->

<!-- <pre>
  {{results$ | async | json}}
</pre> -->
