
<p>
  Artist View!
</p>

<div *ngIf="artist$ | async as artist">

  edit: <button *appHasRole="'admin'" [routerLink]="['../../edit', artist.id]">EDIT</button>

  <br>

  id: {{ artist.id}}
  name: {{ artist.name}}
  <img [src]="artist.img | imageBaseUrl:'argument numer jeden':'argument dwa': artist" />
  <app-map [coords]="artist.location"></app-map>

  <!-- <pre>
    id: {{ artist | json }}
  </pre> -->

</div>

<div *ngIf="error">
  Error
  <pre>{{error | json}}</pre>
</div>
