
<button mat-button [matMenuTriggerFor]="menu">Menu</button>

<mat-menu #menu="matMenu">

  <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-menu-item routerLink="/">Home</button>

  <button routerLinkActive="active" mat-menu-item routerLink="/videos">Videos</button>

  <button routerLinkActive="active" mat-menu-item routerLink="/music">Music</button>

  <!-- <a mat-menu-item [routerLink]="['/videos','search', 'query', queryFromForm ]">Videos</a> -->

  <button mat-menu-item (click)="userService.login()">Login</button>
  <button mat-menu-item (click)="userService.logout()">Logout</button>
</mat-menu>
